


body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    position: relative;
    background-color: #f4f4f4;
}

.login-button {
    padding: 12px 24px;
    background-color: #0078d4;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-size: 18px;
    margin-top: 20px;
}

.embed-container {
    width: 75%;
    box-shadow: 0 2px 8px 0 rgba(63,69,81,0.16);
    border-radius: 8px;
    will-change: transform;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #e0e0e0; /* Complementary background color */
}

    .embed-container iframe {
        border: none;
        overflow: hidden;
        will-change: transform;
        object-fit: cover;
    }

a {
    color: #0078d4;
    text-decoration: none;
    margin-top: 0.5em;
}



















